* {
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #fad2a4 0%, #e7baa7 50%, #fac0cf 100%);
  padding: 5% 0 0 0;
  z-index: 1;
}

.corpo {
  flex-direction: column;
  justify-content: center;
  background-color: rgba(100, 71, 59, 0.42);
  width: 80vw;
  height: fit-content;
  border-radius: 60px;
  overflow: hidden;
  margin-bottom: 10%;

}

.view1{
  display: flex;
  align-items: flex-end;
}



.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
}

.topo p {
  font-size: 60px;
  color: white;
}

.texto-sombra {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
}

.botao-criar button img {
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.botao-criar button {
  width: 5vw;
  height: 6vh;
  border: #d0f4d4;
  background-color: #fad2a4;
  border: 2px solid #64473b;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}

.botao-criar button:hover {
  color: #13142a;
  box-shadow: #64473b 0px 0px 10px;
}

.barras {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.barra1 {
  background-color: #64473B;
  display: flex;
  align-items: center;
  width: 70vw;
  height: 6vh;
  border-radius: 50px;
  margin-top: 0.5%;
  font-size: 22px;
  margin-bottom: 0.6%;
}

.id {
  display: flex;
  align-items: center;
  width: 15%;
}

.nome {
  display: flex;
  align-items: center;
  width: 15%;
}

.email {
  display: flex;
  align-items: center;
  width: 45%;
}

.acoes {
  display: flex;
  align-items: center;
  width: 25%;
}

.barra2 {
  background-color: rgba(250, 210, 164, 0.65);
  color: #13142a;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  height: 6vh;
  border-radius: 50px;
  margin-top: 0.5%;
  font-size: 22px;
  margin-bottom: 0.1%;
}

.barra1 p,
.barra2 p {
  flex: 1;
  text-align: center;
}

.idb {
  display: flex;
  align-items: center;
  width: 15%;
}

.nomeb {
  display: flex;
  align-items: center;
  width: 15%;
}

.emailb {
  display: flex;
  align-items: center;
  width: 45%;
}

.email21{
  overflow-x: scroll;
}

.barra2b {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.barra2 button {
  border: rgba(250, 210, 164, 0.65);
  background-color: rgba(250, 210, 164, 0.65);
  border-radius: 15px;
  width: 4.2vw;
  height: 4vh;
  cursor: pointer;
}

.barra2 button:hover {
  color: #13142a;
  box-shadow: #64473b 0px 0px 10px;
}

.barra2 button img {
  width: 1.6vw;
}

.pagina a:hover {
  color: #13142a;
  box-shadow: #64473b 0px 0px 10px;
}

.pagina {
  display: flex;
  justify-content:center;
  padding: 2% 0;
}

.pagina a {
  background-color: rgba(250, 210, 164, 0.65);
  color: #13142a;
  padding: 0.7% 1.2%;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 0.5%;
  border: 1px solid #13142a;
  border-radius: 4px;
  min-width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none; /* Ocultar o modal por padrão */
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Habilitar rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: linear-gradient(to bottom, #fad2a4 0%, #e7baa7 50%, #fac0cf 100%),
    url(/public/assets/cupcake.svg);
  background-size: 8%;
  background-repeat: round;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  height: max-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-blend-mode: hard-light;
}

.modal-content-view {
  width: 40%;
}

.modal-view-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: alterar-> tem que utilizar botao de salvar e cancelar */
.close {
  color: #13142a;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-content h2 {
  color: #13142a;
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
}

.modal-content label {
  font-size: 24px;
}

.row-view-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 2%;
  margin-bottom: 5%;
  gap: 20px;
  align-items: center;
}

.senha{
  overflow-x: scroll;
}

.bg-view {
  width: 70%;
  height: 40px;
  background-color: white;
  color: #13142a;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 0.7rem;
}

.disable {
  pointer-events: none; 
  opacity: 0.5;       
  cursor: not-allowed; 
}

.bg-view label {
  font-size: 20px;
}

/* ------------ estilo da tela de editar ----------------- */

.modal-content-edit,
.modal-content-criar {
  width: 50%;
  height: auto;
}

.input-box-edit,
.input-box-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-box-edit label,
.input-box-create label {
  display: flex;
  width: 80%;
  font-size: 24px;
  color: #13142a;
  text-align: left;
}

.input-box-edit input,
.input-box-create input {
  width: 80%; /* Ajusta a largura do input */
  height: 44px; /* Ajusta a altura do input */
  border-radius: 20px;
  border: none;
  margin: 1% 0 3% 0;
  padding-left: 10px;
  font-size: 20px;
}

.input-box-edit input:hover,
.input-box-create input:hover {
  transition: all 0.3s ease; /* Adiciona uma transição suave */
  transform: scale(1.02);
}

input:focus {
  outline: none;
}

.button-box {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  gap: 10px; /* Adiciona espaço entre os botões */
  margin: 2%;
}

.button-box button {
  flex: 0 1;
  padding: 15px 20px; /* Ajusta o padding dos botões */
  margin: 2%;
  background-color: #64473b;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 16px;
}

.button-box button:hover {
  transform: scale(
    1.05
  ); /* Aumenta o tamanho do botão em 5% ao passar o mouse */
  box-shadow: #64473b 0px 0px 10px; /* Adiciona uma sombra ao passar o mouse */
  cursor: pointer;
}

.cancel-button:hover,
.close-button:hover {
  background-color: rgb(219, 60, 60);
}

#save-button:hover,
#criar-button:hover,
#excluir-button:hover {
  background-color: rgb(65, 163, 65);
}

/* Inicio modal excluir*/

.excluir {
  width: 25%;
  height: fit-content;
  display: block;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  position: absolute;
  left: 35%;
  text-align: center;
  background: linear-gradient(to bottom, #fad2a4 0%, #e7baa7 50%, #fac0cf 100%);
}

.excluir img {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50%;
}

.botm {
  margin-bottom: 5%;
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.botm button {
  width: 7vw;
  height: 3vh;
  border: #d0f4d4;
  border: 1.5px solid #64473b;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}


/* Fim modal excluir*/

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
  .modal-content input {
    margin: 0 0 4% 0;
  }
  .modal-content label {
    margin: 0 0 3% 0;
  }

  .pagina{
    margin-top: 3%;
  }

  .topo p{
    margin-top: 15%;
  }

  .botao-criar button{
    margin-bottom: 50%;
  }
}

@media (max-width: 425px) {
  .modal-content-view {
    width: 95%;
  }

  body {
    margin: 0;
    padding: 16px;
  }

  .button-box {
    margin: 5% 0 5% 0;
  }
}

@media (max-width: 1024px) {
  .corpo {
    width: 93vw;
    height: 93vh;
  }

  .barras {
    width: 100%;
    overflow-x: auto;
  }

  .barra1,
  .barra2 {
    min-width: 90vw;
  }

  .topo {
    flex-direction: column;
  }

  .botao-criar button {
    margin-top: -20%;
    width: 10vw;
  }

  .botao-criar button img {
    margin-left: 32%;
    width: 35%;
  }

  .barra2b button {
    display: flex;
    align-items: center;
  }

  .barra2 button img {
    margin-right: 50%;
    width: 2.5vw;
  }

  .excluir {
    top: 10%;
    width: 50%;
    left: 25%;
  }

  .botm {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .botm button {
    width: 15vw;
    height: 3vh;
    border: #d0f4d4;
    border: 1.5px solid #64473b;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  .pagina {
    padding: 0.5%;
    margin-top: 3%;
  }
}

@media (max-width: 540px) {
  .input-box-edit label {
    display: flex;
    align-items: row;
  }

  .corpo {
    width: 100%;
    overflow-x: auto;
  }

  .barras {
    display: flex;
  }

  .barra1 {
    margin-bottom: 2%;
  }

  .barra2 {
    margin-bottom: 0.5%;
  }

  .barra1,
  .barra2 {
    max-width: 60px;
  }

  .topo {
    flex-direction: column;
    text-align: center;
    padding: 0 0;
  }

  .topo p {
    margin-bottom: 5%;
    margin-top: 10%;
  }

  .botao-criar button {
    margin-top: 10px;
    width: 15vw;
  }

  .barra2b button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 10vw;
    height: 4vh;
  }

  .barra2 button img {
    margin-right: 1%;
    width: 6vw;
  }

  .excluir {
    top: 20%;
    width: 80%;
    left: 10%;
  }

  .botm {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .botm button {
    width: 30vw;
    height: 3vh;
    border: #d0f4d4;
    border: 1.5px solid #64473b;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  .pagina {
    display: flex;
    justify-content: center;
    margin-right: 0%;
    margin-top: 5%;
  }

  .pagina a {
    min-width: 35px;
    height: 36px;
  }

  .botao-criar {
    margin-bottom: 8%;
  }

  .email,
  .emailb,
  .id,
  .idb {
    display: none;
  }

  .barra1,
  .barra2 {
    justify-content: space-around;
  }

  .barra2b,
  .acoes {
    width: 50%;
  }

  .row-view-info{
    display: flex;
    flex-direction: column;
  }

  .bg-view{
    width: 100%;
  }

  .row-view-info{
    gap: 0px;
  }
}
