body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin:0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FAD2A4 0%, #E7BAA7 50%, #FAC0CF 100%), url(/public/assets/cupcake.svg);
    background-size: 8%;
    background-repeat: round;
    background-blend-mode: color-burn;
}


.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  

#dashboard{
    display: flex;
    column-gap: 4vw;
}


.botoes > a{
    display: flex;
    background: #fad2a4bb;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 8px;
    padding: 1vw;
    padding-top: 2vw;
    gap: 12px;
    text-align: center;
}

.botoes > a:hover{
    background: linear-gradient(to top, #facb95 50%, #fad2a4a9 100%);
    transition-duration: 0.4s;
    scale: 1.05;
    cursor: pointer;
}

a > label{
    color: black;
    font-family: "Josefin Sans";
    font-size: clamp(14px,1vw,16px);
    max-width: 9vw;
    contain: contain;
}

a > img{
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 450px){
    body{
        display: flex;
        width: 100vw;
        height: 100vh;
        margin:0;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #FAD2A4 0%, #E7BAA7 50%, #FAC0CF 100%), url(/public/assets/cupcake.svg);
        background-size: 20%;
        background-repeat: round;
        background-blend-mode: color-burn;
    }
    
    #dashboard{
        display: flex;
        column-gap: 4vw;
        flex-direction: column;
        row-gap: 36px;
    }
    
    
    .botoes > a{
        display: flex;
        background: #fad2a4bb;
        justify-content: center;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        width: 20vw;
        height: 20vw;
        border: none;
        border-radius: 8px;
        padding: 1vw;
        padding-top: 2vw;
        gap: 12px;
        text-align: center;
        border: solid 1px #FAD2A4;
        scale: 1.2;
    }

    .botoes > a:hover{
        transition-duration: 0.4s;
        scale: 1.25;
        cursor: pointer;
        background: linear-gradient(to top, #facb95 50%, #fad2a4a9 100%);
    }
    
    a > label{
        color: black;
        font-family: "Josefin Sans";
        font-size: clamp(10px,1vw,14px);
        max-width: 16vw;
        contain: contain;
    }
    
    a > img{
        display: flex;
        width: 50%;
    }
}