
body{
    background-color: #f5f5f5;
    margin:0;
}

#navbar{
    height: 76px;
    border: 1px solid red;
}

#banner{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    gap: 20px;
    background: url(/public/assets/banner-landing-page.jpg) no-repeat center/cover;
}


#banner > button{
    margin-top: 52px;
}

#classificacao-posts{
    border: 1px solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#post-row{
    border: 1px solid yellow;
    display: flex;
    gap:48px;
}

.posts > img{
    align-self: center;
    height: 100px;
    width: 100px;
}

.posts > h3{
    align-self: center;
}

.posts{
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    max-width: 20%;
}