@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Reset padrão de navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Josefin Sans';
    overflow: hidden;
}

/* Definindo a posição e o tamanho das imagens */
.img-background, .img-background2, .img-background3, .img-background4,
.img-background5, .img-background6, .img-background7, .img-background8,
.img-background9, .img-background10, .img-background11, .img-background12 {
    position: fixed;
    width: 300px;
    height: auto;
    object-fit: contain;
    z-index: -1;
}

/* Posições específicas para as imagens */
.img-background { bottom: 6%; left: 0%; }
.img-background2 { top: 0%; left: 0%; }
.img-background3 { top: 36%; right: 12%; }
.img-background4 { bottom: 0%; right: 0%; }
.img-background5 { top: 20%; left: 25%; }
.img-background6 { bottom: 9%; left: 40%; }
.img-background7 { top: 7%; right: 27%; }
.img-background8 { bottom: 36%; left: 8%; }
.img-background9 { top: 0%; right: 2%; }

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(231, 186, 167, 0.45);
}

.form {
    background-color: rgba(231, 186, 167, 0.8);
    width: 80vw; 
    max-width: 480px; 
    padding-top: 20px;
    padding-bottom: 12px;
    border-radius: 20px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.form-header {
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
    color: #13142A;
}

.email-group, .senha-group, .button-group {
    width: 100%;
    text-align: center;
}

.email-group h3, .senha-group h3 {
    margin-left: 12.5%;
    text-align: left;
    margin-bottom: 12px;
    color: #13142A;
}

.email-group input, .senha-group input {
    width: 80%; 
    max-width: 380px; 
    height: 56px; 
    padding: 0 24px;
    border-radius: 12px;
    border: 1px solid white;
    background-color: rgba(100, 71, 59, 0.2); 
    font-weight: bold; 
    font-size: 16px;
    outline: 0;
}

.email-group input::placeholder, .senha-group input::placeholder {
    color: #13142A;
    font-family: 'Josefin Sans';
}

.button-group button {
    width: 40%;
    max-width: 200px;
    height: 48px;
    background-color: rgba(100, 71, 59, 0.2);
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.2s ease-in;
    color: #13142A;
    font-family: 'Josefin Sans';
}

.button-group button:hover {
    background-color: rgba(100, 71, 59, 0.4);
}

/* Responsividade */
@media (max-width: 768px) {
    .form {
        width: 80vw;
        max-width: 480px;
    }

    .email-group input, .senha-group input {
        width: 80%;
        max-width: 360px;
    }

    .button-group button {
        width: 60%;
    }

    .img-background, .img-background2, .img-background3, .img-background4,
    .img-background5, .img-background6, .img-background7, .img-background8,
    .img-background9 {
        width: 200px;
    }
}

/* Responsividade */
@media (max-width: 480px) {
    .form {
        width: 80vw;
        max-width: 340px;
        padding-top: 16px;
        padding-bottom: 8px;
    }

    .email-group input, .senha-group input {
        width: 80%;
        max-width: 300px;
        height: 50px;
        font-size: 14px;
    }

    .button-group button {
        width: 60%;
        max-width: 160px;
        height: 44px;
        font-size: 14px;
    }

    .img-background, .img-background2, .img-background3, .img-background4,
    .img-background5, .img-background6, .img-background7, .img-background8,
    .img-background9 {
        width: 150px;
    }

    .img-background { bottom: 6%; left: 0%; }
    .img-background2 { top: 0%; left: 0%; }
    .img-background3 { top: 36%; right: 12%; }
    .img-background4 { bottom: 0%; right: 0%; }
    .img-background5 { top: 20%; left: 0%; }
    .img-background6 { bottom: 9%; left: 40%; }
    .img-background7 { top: 16%; right: 0%; }
    .img-background8 { bottom: 30%; left: 8%; }
    .img-background9 { top: 0%; right: 2%; }
}







