@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* --------------- Reset Padrão --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Josefin Sans';
}

/* --------------- Card e Card Header --------------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E7BAA7;
}

.card {
    background-color: rgba(100, 71, 59, 0.42);
    border-radius: 16px;
    padding-top: 2%;
    width: 80%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h2 {
    color: #F5F5F5;
    font-size: 52px;
}

/* --------------- Tabela --------------- */
.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto; /* Espaço ao redor da tabela */
    gap: 1.2rem;
}


.linha-header, .linha-comum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 6vh;
    border-radius: 40px;
}

.linha-header {
    background-color: #D0F4D4;
    color: #13142A;
}

.linha-comum {
    background-color: rgba(250, 210, 164, 0.65);
    color: #13142A;
}

.cedula-id, .cedula-titulo, .cedula-autor, .cedula-data, .cedula-acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.cedula-id {
    flex-basis: 10%; /* 10% da largura total */
}

.cedula-titulo {
    flex-basis: 20%;
}

.cedula-autor {
    flex-basis: 20%;
}

.cedula-data {
    flex-basis: 20%;
}

.cedula-acoes {
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.square {
    border: #D0F4D4;
    background-color: #FAD2A4;
    border: 2px solid #64473B;
    border-radius: 20px;
    width: 4.2vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view {
    width: 2.2vw;
    height: auto;
}

.edit, .delete {
    width: 2vw;
    height: auto;
}

/* --------------- Paginação ---------------*/
.bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 2% 0;
    margin-right: 2%;
}

.pagination a {
    background-color: rgba(250, 210, 164, 0.65);
    color: #13142A;
    padding: 0.7% 1.2%;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 2%;
    border: 1px solid #13142A;
    border-radius: 4px;
    min-width: 40px; 
    height: 36px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

/* --------------- Botão --------------- */
.button-group {
    display: flex;
    align-items: center; 
    margin-left: 2%;
}

.button-group button {
    background-color: #FAD2A4;
    color: #13142A;
    width: 15vw;
    max-width: 160px; 
    height: 4vh; 
    transition: background-color 0.3s;
    border-radius: 16px; 
    border: none; 
    font-size: 14px; 
    font-weight: bold; 
    cursor: pointer; 
    padding: 0 15px;
    font-family: 'Josefin Sans';
}

