* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Josefin Sans;
   }

   body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to bottom, #FAD2A4 0%, #E7BAA7 50%, #FAC0CF 100%);
    background-size: cover;
    background-attachment: fixed;
    padding: 4%;
}

 .aprese{
    text-align: center;
    padding: 5%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
 }

 .wow{
    padding: 5%;
    text-align: center;
 }

.ingreb, .modob, .dicks{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    padding: 4% 8% 4% 8%;
    margin-bottom: 5%;
    line-height: 30px;
}
