* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Josefin Sans;
   }

   body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.receitas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5%;
    margin-left: 10%;
    margin-top: 5%;
}

.receitas img{
    border-radius: 10%;
}

.inf_post{
    margin-top: 3%;
    font-size: 140%;
    
}

.inf_post .t1{
    margin-top: 2%;
    margin-bottom: 5%;
}

.ingredientes{
    font-size: 130%;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 5%;
    
}

.ingredientes .mp{
    margin-top: 2%;
    margin-left: 5%;
}

.modoprepa{
    font-size: 130%;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.modoprepa .mop{
    margin-top: 2%;
    margin-left: 5%;
    gap: 10%;
}

ul li{
    margin: 2%;
}

ol li{
    margin: 2%;
}

.VMR{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.VMR button{
    padding: 10px;
    border-radius: 20px;
    background-color: #E7BAA7;
    border-color: #63473B;
    border-style:solid;
    cursor: pointer;
}

.VMR button:hover{
    filter:brightness(80%);
}

@media (max-width: 768px) {

    .receitas img{
       
        display: flex;
        align-items: center;
    }

    .receitas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .inf_post {
        margin-left: 0;
        text-align: center;
    }

    .ingredientes,
    .modoprepa {
        margin-left: 0;
        padding: 0 5%;
    }

    .VMR {
        margin-top: 5%;
    }
}

@media (max-width: 480px) {
    .receitas img {
        margin-left: 9%;
        max-width: 80%; 
    }

    .inf_post {
        font-size: 100%; 
    }

    .ingredientes,
    .modoprepa {
        font-size: 100%; 
    }

    .VMR button {
        font-size: 1%; 
    }
}