<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/posts-page.css">
    <title>Admin | Posts Page</title>
</head>
<body>
    <div id="tela"></div>
    <div class ="modal" id="modalCriar">
        <form>
            <h2>Preencha todos os campos abaixo para criar post:</h2>
            <div class="inputModal"><label for="Título">Título da receita</label><input id="Título" type="text"></div>
            <div id="subForm">
                <div class="inputModal" id="autor"><label for="Autor">Autor</label><input id="Autor" type="text"></div>
                <div class="inputModal" id="tempo"><label for="Tempo">Tempo</label><input id="Tempo" type="text"></div>
                <div class="inputModal" id="custo"><label for="Custo">Custo</label><input id="Custo" type="text"></div>
                <div class="inputModal" id="dificuldade"><label for="Dificuldade">Dificuldade</label><select id="Dificuldade">
                    <option value="#" selected></option>
                    <option value="0">Fácil</option>
                    <option value="1">Médio</option>
                    <option value="2">Difícil</option>
                </select></div>
            </div>
            <div class="inputModal"><label for="Ingredientes">Ingredientes</label><textarea id="Ingredientes" rows="3"></textarea></div>
            <div class="inputModal"><label for="Modo">Modo de preparo</label><textarea id="Modo" rows="3"></textarea></div>
            <div class="inputModal"><label for="História">História</label><textarea id="História" rows="3"></textarea></div>
            <div class="inputModal"><label for="Imagem">Imagem</label><input type="file"></div>
            <div id="btCC">
                <button>Criar</button>
                <button onclick="closeModal('modalCriar')">Cancelar</button>
            </div>
        </form>
    </div>

    <div class = "modal" id="modalEditar">
        <form>
            <h2>Preencha todos os campos abaixo para criar post:</h2>
            <div class="inputModal"><label for="Título">Título da receita</label><input id="Título" type="text"></div>
            <div id="subForm">
                <div class="inputModal" id="autor"><label for="Autor">Autor</label><input id="Autor" type="text"></div>
                <div class="inputModal" id="tempo"><label for="Tempo">Tempo</label><input id="Tempo" type="text"></div>
                <div class="inputModal" id="custo"><label for="Custo">Custo</label><input id="Custo" type="text"></div>
                <div class="inputModal" id="dificuldade"><label for="Dificuldade">Dificuldade</label><select id="Dificuldade">
                    <option value="#" selected></option>
                    <option value="0">Fácil</option>
                    <option value="1">Médio</option>
                    <option value="2">Difícil</option>
                </select></div>
            </div>
            <div class="inputModal"><label for="Ingredientes">Ingredientes</label><textarea id="Ingredientes" rows="3"></textarea></div>
            <div class="inputModal"><label for="Modo">Modo de preparo</label><textarea id="Modo" rows="3"></textarea></div>
            <div class="inputModal"><label for="História">História</label><textarea id="História" rows="3"></textarea></div>
            <div class="inputModal"><label for="Imagem">Imagem</label><input type="file"></div>
            <div id="btCC">
                <button>Editar</button>
                <button onclick="closeModal('modalCriar')">Cancelar</button>
            </div>
        </form>
    </div>
    
    <div class = "modal" id="modalVisu">
        <form>
            <h2>Preencha todos os campos abaixo para criar post:</h2>
            <div class="inputModal"><label for="Título">Título da receita</label><input id="Título" type="text"></div>
            <div id="subForm">
                <div class="inputModal" id="autor"><label for="Autor">Autor</label><input id="Autor" type="text"></div>
                <div class="inputModal" id="tempo"><label for="Tempo">Tempo</label><input id="Tempo" type="text"></div>
                <div class="inputModal" id="custo"><label for="Custo">Custo</label><input id="Custo" type="text"></div>
                <div class="inputModal" id="dificuldade"><label for="Dificuldade">Dificuldade</label><select id="Dificuldade">
                    <option value="#" selected></option>
                    <option value="0">Fácil</option>
                    <option value="1">Médio</option>
                    <option value="2">Difícil</option>
                </select></div>
            </div>
            <div class="inputModal"><label for="Ingredientes">Ingredientes</label><textarea id="Ingredientes" rows="3"></textarea></div>
            <div class="inputModal"><label for="Modo">Modo de preparo</label><textarea id="Modo" rows="3"></textarea></div>
            <div class="inputModal"><label for="História">História</label><textarea id="História" rows="3"></textarea></div>
            <div class="inputModal"><label for="Imagem">Imagem</label><input type="file"></div>
            <div class = "btnf">
                <button class = "btnfechar"onclick="closeModal('modalCriar')">Fechar</button>
            </div>
        </form>
    </div>

    <!-------------- Modal Excluir ------------------>

    <div class="modall modal-del" id="modalDel">
        <div class="modal-content excluir">
            <img src = "../../../public/assets/trash.png">
            <h2>Excluir Usuario</h2>
            <p>Tem certeza que deseja excluir este usuario?</p>
            <div class = "botm">
            <button class = "canc" onclick="closeModal('modalDel')">Cancelar</button>
            <button class = "exc">Excluir</button>
            </div>
        </div>
     </div>
      <!-------------- Fim Modal Excluir ------------------>

    <div class="container">
        <div class="card">
            <div class="top">
                <h2>Lista de posts</h2>
            </div>
            <div class="center">
                <table class="tabela">
                    <thead>
                        <tr class="linha-header">
                            <th class="celula-id">ID</th>
                            <th class="celula-titulo">TÍTULO</th>
                            <th class="celula-autor">AUTOR</th>
                            <th class="celula-data">DATA</th>
                            <th class="celula-acoes">AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="linha-comum">
                            <td class="celula-id">1</td>
                            <td class="celula-titulo">Cupcake</td>
                            <td class="celula-autor">Harry</td>
                            <td class="celula-data">34/25/0000</td>
                            <td class="celula-acoes">
                                <div class="square" onclick="openModal('modalVisu')"><img class="view" src="/public/assets/view.svg" alt=""></div>
                                <div class="square" onclick="openModal('modalEditar')"><img class="edit" src="/public/assets/edit.svg" alt=""></div>
                                <div class="square" onclick="openModal('modalDel')"><img class="delete" src="/public/assets/delete.svg" alt=""></div>
                            </td>
                        </tr>
                        <tr class="linha-comum">
                            <td class="celula-id">2</td>
                            <td class="celula-titulo">Cupcake</td>
                            <td class="celula-autor">Harry Potter</td>
                            <td class="celula-data">34/25/0000</td>
                            <td class="celula-acoes">
                                <div class="square"><img class="view" src="/public/assets/view.svg" alt=""></div>
                                <div class="square"><img class="edit" src="/public/assets/edit.svg" alt=""></div>
                                <div class="square"><img class="delete" src="/public/assets/delete.svg" alt=""></div>
                            </td>
                        </tr>
                        <tr class="linha-comum">
                            <td class="celula-id">3</td>
                            <td class="celula-titulo">Cupcake</td>
                            <td class="celula-autor">Harry</td>
                            <td class="celula-data">34/25/0000</td>
                            <td class="celula-acoes">
                                <div class="square"><img class="view" src="/public/assets/view.svg" alt=""></div>
                                <div class="square"><img class="edit" src="/public/assets/edit.svg" alt=""></div>
                                <div class="square"><img class="delete" src="/public/assets/delete.svg" alt=""></div>
                            </td>
                        </tr>
                        <tr class="linha-comum">
                            <td class="celula-id">4</td>
                            <td class="celula-titulo">Cupcake</td>
                            <td class="celula-autor">Harry</td>
                            <td class="celula-data">34/25/0000</td>
                            <td class="celula-acoes">
                                <div class="square"><img class="view" src="/public/assets/view.svg" alt=""></div>
                                <div class="square"><img class="edit" src="/public/assets/edit.svg" alt=""></div>
                                <div class="square"><img class="delete" src="/public/assets/delete.svg" alt=""></div>
                            </td>
                        </tr>
                        <tr class="linha-comum">
                            <td class="celula-id">5</td>
                            <td class="celula-titulo">Cupcake</td>
                            <td class="celula-autor">Harry</td>
                            <td class="celula-data">34/25/0000</td>
                            <td class="celula-acoes">
                                <div class="square"><img class="view" src="/public/assets/view.svg" alt=""></div>
                                <div class="square"><img class="edit" src="/public/assets/edit.svg" alt=""></div>
                                <div class="square"><img class="delete" src="/public/assets/delete.svg" alt=""></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="bottom">
                <div class="button-group">
                    <button onclick="openModal('modalCriar')">Criar Post</button>
                </div>

                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/adm-tabela-posts.js"></script>
</body>
</html>

