<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/posts-page.css">
    <title>Admin | Posts Page</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="top">
                <h2>Lista de posts</h2>
            </div>
            <div class="center">
                <div class="tabela">
                    <div class="linha-header">
                        <div class="cedula-id">
                            <label for="">ID</label>
                        </div>
                        <div class="cedula-titulo">
                            <label for="">TÍTULO</label>
                        </div>
                        <div class="cedula-autor">
                            <label for="">AUTOR</label>
                        </div>
                        <div class="cedula-data">
                            <label for="">DATA</label>
                        </div>
                        <div class="cedula-acoes">
                            <label for="">AÇÕES</label>
                        </div>    
                    </div>

                    <div class="linha-comum">
                        <div class="cedula-id">
                            <label for="">1</label>
                        </div>
                        <div class="cedula-titulo">
                            <label for="">Cupcake</label>
                        </div>
                        <div class="cedula-autor">
                            <label for="">Harry</label>
                        </div>
                        <div class="cedula-data">
                            <label for="">34/25/0000</label>
                        </div>
                        <div class="cedula-acoes">
                            <div class="square">
                                <img class="view" src="/public/assets/view.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="edit" src="/public/assets/edit.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="delete" src="/public/assets/delete.svg" alt="">
                            </div>
                        </div>
                        
                    </div>

                    <div class="linha-comum">
                        <div class="cedula-id">
                            <label for="">2</label>
                        </div>
                        <div class="cedula-titulo">
                            <label for="">Cupcake</label>
                        </div>
                        <div class="cedula-autor">
                            <label for="">Harry</label>
                        </div>
                        <div class="cedula-data">
                            <label for="">34/25/0000</label>
                        </div>
                        <div class="cedula-acoes">
                            <div class="square">
                                <img class="view" src="/public/assets/view.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="edit" src="/public/assets/edit.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="delete" src="/public/assets/delete.svg" alt="">
                            </div>
                        </div>
                        
                    </div>

                    <div class="linha-comum">
                        <div class="cedula-id">
                            <label for="">3</label>
                        </div>
                        <div class="cedula-titulo">
                            <label for="">Cupcake</label>
                        </div>
                        <div class="cedula-autor">
                            <label for="">Harry</label>
                        </div>
                        <div class="cedula-data">
                            <label for="">34/25/0000</label>
                        </div>
                        <div class="cedula-acoes">
                            <div class="square">
                                <img class="view" src="/public/assets/view.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="edit" src="/public/assets/edit.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="delete" src="/public/assets/delete.svg" alt="">
                            </div>
                        </div>
                        
                    </div>

                    <div class="linha-comum">
                        <div class="cedula-id">
                            <label for="">4</label>
                        </div>
                        <div class="cedula-titulo">
                            <label for="">Cupcake</label>
                        </div>
                        <div class="cedula-autor">
                            <label for="">Harry</label>
                        </div>
                        <div class="cedula-data">
                            <label for="">34/25/0000</label>
                        </div>
                        <div class="cedula-acoes">
                            <div class="square">
                                <img class="view" src="/public/assets/view.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="edit" src="/public/assets/edit.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="delete" src="/public/assets/delete.svg" alt="">
                            </div>
                        </div>
                        
                    </div>

                    <div class="linha-comum">
                        <div class="cedula-id">
                            <label for="">5</label>
                        </div>
                        <div class="cedula-titulo">
                            <label for="">Cupcake</label>
                        </div>
                        <div class="cedula-autor">
                            <label for="">Harry</label>
                        </div>
                        <div class="cedula-data">
                            <label for="">34/25/0000</label>
                        </div>
                        <div class="cedula-acoes">
                            <div class="square">
                                <img class="view" src="/public/assets/view.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="edit" src="/public/assets/edit.svg" alt="">
                            </div>
                            <div class="square">
                                <img class="delete" src="/public/assets/delete.svg" alt="">
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="bottom">
                <div class="button-group">
                    <button>Criar Post</button>
                </div>

                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>