<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caramella</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/footer.css">
</head>
<body>
    <footer class="footer">
        <div class = "nuvem1">
            <img src = "../../../public/assets/nuvem111.png">
        </div>
        <div class="infos1">
            <div class ="text">
                <p>Venha conhecer nossas redes sociais!</p>
                    <div class = "infos1l">
                        <img src = "../../../public/assets/Instagram.png" >
                        <img src = "../../../public/assets/Facebook.png" >
                        <img src = "../../../public/assets/Twitter.png" >
                    </div>
            </div>
        </div>
        <div class ="logo">
            <img src ="../../../public/assets/caramella2.png">
            <button type = "button">Mais Informações</button>
        </div>

        <div class="infos2">
            <div class="infos2-box">
            <div class = "infos21">
            <img src = "../../../public/assets/wpp.png" >
            <p>(00) 0 0000-0000</p>
            </div>
            <div class = "infos22">
            <img src = "../../../public/assets/email.png" >
            <p>caramella@caramella.com</p>
            </div>
        </div>
        </div>
        <div class = "nuvem2">
            <img src = "../../../public/assets/nuvem222.png">
        </div>

    </footer>
</body>
</html>