<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caramella - Home</title>
    <link rel="stylesheet" href="/public/css/landing-page.css">
</head>
<body>
    <div id="navbar"></div>
    <div id="banner">
        <h2>CONHEÇA O LADO MAIS DOCE DA VIDA</h2>
        <p>Fique à vontade para ver nossas receitas, dicas e histórias de vida.</p>
        <button>Ver mais</button>
    </div>
    <div id="classificacao-posts">
        <p>ÚLTIMOS POSTS</p>
        <div id="post-row">
            <div class="posts">
                <img src="/public/assets/code-logo.png" alt="">
                <h3>Nome da receita</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. [...]</p>
            </div>
            <div class="posts">
                <img src="/public/assets/code-logo.png" alt="">
                <h3>Nome da receita</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. [...]</p>
            </div>
            <div class="posts">
                <img src="/public/assets/code-logo.png" alt="">
                <h3>Nome da receita</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. [...]</p>
            </div>
            <div class="posts">
                <img src="/public/assets/code-logo.png" alt="">
                <h3>Nome da receita</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. [...]</p>
            </div>
            <div class="posts">
                <img src="/public/assets/code-logo.png" alt="">
                <h3>Nome da receita</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. [...]</p>
            </div>
        </div>
    </div>
</body>
</html>