<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caramella - Home</title>
    <link rel="stylesheet" href="/public/css/landing-page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="banner">
        <h2>CONHEÇA O LADO MAIS DOCE DA VIDA</h2>
        <p>Fique à vontade para ver nossas receitas, dicas e histórias de vida.</p>
        <button>Ver mais</button>
    </div>
    <div id="classificacao-posts">
        <h2>ÚLTIMOS POSTS</h2>
        <div id="post-row">
            <div class="posts">
                <a href="/app/views/site/landing-page.html"><img src="/public/assets/pudim.jpg" alt="">
                    <h3>Nome da receita</h3>
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit tempore rem minus eligendi quis excepturi sed facilis. Officia provident amet sint facilis, tenetur expedita modi culpa in repellendus excepturi nemo.</p>
            </div>
            <div class="posts">
                <a href="/app/views/site/landing-page.html"><img src="/public/assets/petit-gateau.jpg" alt="">
                    <h3>Nome da receita</h3>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique cupiditate omnis sunt magnam id mollitia error dolores, provident, quo enim odit atque. Quos mollitia optio magni, nam vitae eaque sit?</p>
            </div>
            <div class="posts">
                <a href="/app/views/site/landing-page.html"><img src="/public/assets/maca-do-amor.jpg" alt="">
                    <h3>Nome da receita</h3>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sunt corrupti quaerat exercitationem illo impedit iure. Esse facilis in illo blanditiis, qui eos quidem animi, hic necessitatibus impedit, ut aut.</p>
            </div>
            <div class="posts">
                <a href="/app/views/site/landing-page.html"><img src="/public/assets/suspiro.png" alt="">
                    <h3>Nome da receita</h3>
                </a>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam deserunt sapiente, assumenda ipsum eos quasi. Sint eligendi ullam molestiae? Maxime laudantium earum nihil est dolore ipsum quis architecto dolorem!</p>
            </div>
            <div class="posts">
                <a href="/app/views/site/landing-page.html"><img src="/public/assets/cupcake.webp" alt="">
                    <h3>Nome da receita</h3>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi et libero necessitatibus numquam eius esse! Et ipsum dolores labore at, quam quo consectetur optio dolor quia perferendis voluptatibus laboriosam possimus.
                </p>
            </div>
        </div>
    </div>
</body>

</html>