<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login_page.css">
    <title>Caramella | Login</title>
</head>
<body>
    <img class="img-background" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background2" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background3" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background4" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background5" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background6" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background7" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background8" src="/public/assets/Cupcake.png" alt="">
    <img class="img-background9" src="/public/assets/Cupcake.png" alt="">
    
    <div class="body">
        <div class="form">
            <div class="form-header">
                <h2>Login</h2>
            </div>

            <div class="email-group">
                <h3>Email</h3>
                <input type="text" placeholder="Email">
            </div>

            <div class="senha-group">
                <h3>Senha</h3>
                <input type="text" placeholder="Senha">
            </div>

            <div class="button-group">
                <button>Login</button>
            </div>
        </div>
    </div>

</body>
</html>
