<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caramella</title>
    <link rel="stylesheet" href="../../../public/css/posts-page.css" />
  </head>
  <body>
    <div class="search-bar">
      <input type="text" placeholder="Buscar" class="txt-search" />
    </div>
    <div class="post-container">
      <form class="post-box">
        <a href="#" class="post-title">Título</a>
        <img
          src="../../../public/assets/post-img.jpg"
          alt="Imagem do post"
          class="post-img"
        />
        <div class="post-description">
          <p class="description">
            Sed egestas porttitor est eu condimentum. Integer eget gravida nisl.
            Lorem ipsum dolor sit amet, conse Sed egestas porttitor est eu
            condimentum. Integer ing elit. Sed efficitur porttitor dui nec
            sollicitudin. Ut congue lobortis.
          </p>
        </div>
        <div class="author">
          <img src="../../../public/assets/author-icon.png" alt="author-icon" />
          <p class="author-name">Nome do autor</p>
        </div>
      </form>
      <form class="post-box">
        <a href="#" class="post-title">Título</a>
        <img
          src="../../../public/assets/post-img.jpg"
          alt="Imagem do post"
          class="post-img"
        />
        <div class="post-description">
          <p class="description">
            Sed egestas porttitor est eu condimentum. Integer eget gravida nisl.
            Lorem ipsum dolor sit amet, conse Sed egestas porttitor est eu
            condimentum. Integer ing elit. Sed efficitur porttitor dui nec
            sollicitudin. Ut congue lobortis.
          </p>
        </div>
        <div class="author">
          <img src="../../../public/assets/author-icon.png" alt="author-icon" />
          <p class="author-name">Nome do autor</p>
        </div>
      </form>
      <form class="post-box">
        <a href="#" class="post-title">Título</a>
        <img
          src="../../../public/assets/post-img.jpg"
          alt="Imagem do post"
          class="post-img"
        />
        <div class="post-description">
          <p class="description">
            Sed egestas porttitor est eu condimentum. Integer eget gravida nisl.
            Lorem ipsum dolor sit amet, conse Sed egestas porttitor est eu
            condimentum. Integer ing elit. Sed efficitur porttitor dui nec
            sollicitudin. Ut congue lobortis.
          </p>
        </div>
        <div class="author">
          <img src="../../../public/assets/author-icon.png" alt="author-icon" />
          <p class="author-name">Nome do autor</p>
        </div>
      </form>
      <form class="post-box">
        <a href="#" class="post-title">Título</a>
        <img
          src="../../../public/assets/post-img.jpg"
          alt="Imagem do post"
          class="post-img"
        />
        <div class="post-description">
          <p class="description">
            Sed egestas porttitor est eu condimentum. Integer eget gravida nisl.
            Lorem ipsum dolor sit amet, conse Sed egestas porttitor est eu
            condimentum. Integer ing elit. Sed efficitur porttitor dui nec
            sollicitudin. Ut congue lobortis.
          </p>
        </div>
        <div class="author">
          <img src="../../../public/assets/author-icon.png" alt="author-icon" />
          <p class="author-name">Nome do autor</p>
        </div>
      </form>
      <form class="post-box">
        <a href="#" class="post-title">Título</a>
        <img
          src="../../../public/assets/post-img.jpg"
          alt="Imagem do post"
          class="post-img"
        />
        <div class="post-description">
          <p class="description">
            Sed egestas porttitor est eu condimentum. Integer eget gravida nisl.
            Lorem ipsum dolor sit amet, conse Sed egestas porttitor est eu
            condimentum. Integer ing elit. Sed efficitur porttitor dui nec
            sollicitudin. Ut congue lobortis.
          </p>
        </div>
        <div class="author">
          <img src="../../../public/assets/author-icon.png" alt="author-icon" />
          <p class="author-name">Nome do autor</p>
        </div>
      </form>
    </div>

    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">&raquo;</a>
    </div>

    <footer></footer>
  </body>
</html>
