<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/visu-indivi.css">
    <title>Caramella</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="navbar_options">
                <div class="home">HOME</div>
                <div class="post">POST</div>
                <div class ="login"><button type = "button">LOGIN</button></div>
        </div>  
    </nav>
    
    <div class="inf_post">
        <div>
            <h2>Nome da Receita</h2>
        </div>

            <div>
                <p>Por: Nome da pessoa</p>
            </div>

                <div>
                    <p>10/02/1965</p>
                </div>

    </div>

    <div class="receitas">
        <div class="img_receita">
            <img src = "../../../public/assets/cake.png">
        </div>
        
        <div class="ingred">
            <textarea placeholder = "Ingredientes"></textarea>
        </div>
    </div>
    
    <div class="inf_receitas">
        <div>
            <textarea placeholder = "Modo de Preparo"></textarea>
        </div>

        <div>
            <textarea placeholder = "Opção Vegana"></textarea>
        </div>

        <div>
            <textarea placeholder = "Historia/Curiosidades"></textarea>
        </div>
    </div>
    
    <div class="VMR">
    <button type = "button">Veja mais Receitas</button>
    </div>


<footer class="footer">
    
    <div class="footer1">
        <p>Venha conhecer nossas redes sociais!</p>
        <div>
        <img src = "../../../public/assets/Instagram.png" >
        <img src = "../../../public/assets/Facebook.png" >
        <img src = "../../../public/assets/Twitter.png" >
    </div>
    </div>
    <div>
        <img src = "" >
    </div>
    <div class="footer2">
        <div>
        <img src = "../../../public/assets/wpp.png" >
        <p>(00) 0 0000-0000</p>
        </div>
        <div>
        <img src = "../../../public/assets/email.png" >
        <p>caramella@caramella.com</p>
        </div>
    </div>
</footer>

</body>
</html>