<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/visu-indivi.css">
    <title>Caramella</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
<div class="receitas">
        <div class="img_receita">
            <img src = "../../../public/assets/cake.png">
        </div>

        <div class="inf_post">
            <div>
                <h2>Nome da Receita</h2>
                <div class = "t1">
                <p>Por: Nome da pessoa</p>
                <p>10/02/1965</p>
                </div>
                <div class = "t2">
                <p>Dificuldade: Facil</p>
                <p>Tempo: 50min</p>
                <p>Custo: Baixo</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="inf_receitas">
        
        <div class = "ingredientes">
            <h2>Ingredientes:</h2>
            
            <div class = "mp">
                <div class = "cb">
                    <div><input type = "checkbox"></div>
                    <div><label>6 colheres de sopa de açúcar</label></div>
                </div>
                <div class = "cb">
                    <div><input type = "checkbox"></div>
                    <div><label>1 lata de leite condensado</label></div>
                </div>
                <div class = "cb">
                    <div><input type = "checkbox"></div>
                    <div><label>1 lata de leite, use a mesma medida do leite condensado</label></div>
                </div>
                <div class = "cb">
                    <div><input type = "checkbox"></div>
                    <div><label>3 ovos</label></div>
                </div>
            </div>
           
        </div>

        <div class = "modoprepa">
            <ol>                
                <h2>Modo de Preparo:</h2>
                <div class = "mop">
                <li>Numa forma para pudim, de 20 centímetros de diâmetro, coloque 6 colheres de sopa de açúcar e leve ao fogo médio até virar uma calda caramelada, por mais ou menos 3 minutos.</li>
                <li>Retire do fogo e vá virando a forma, de modo que a calda forre todo o fundo e lateral da mesma. Reserve.</li>
                <li>Num liquidificador coloque uma lata de leite condensado, uma lata de leite, a mesma medida da lata de leite condensado, e 3 ovos e bata bem por mais ou menos 1 minuto.</li>
                <li>Desligue o liquidificador e deixe a mistura descansar por 15 minutos.</li>
                <li>Com esta espera a espuma fica sobre a superfície, o pudim fica sem furinhos, mas macio.</li>
                <li>Com a ajuda de uma colher segure a espuma que está na superfície e despeje o conteúdo do liquidificador, com cuidado, na forma caramelada reservada acima e leve ao forno médio, em banho-maria, a 180 graus Celsius por uma hora e meia.</li>
                <li>Retire do forno, deixe esfriar e leve à geladeira por mais ou menos duas horas. Desenforme e sirva em seguida.</li>
            </div>
            </ol>
        </div>
        <div class = "hist">
            <h2>Historia</h2>
            <div class = "histp">
            <p>
                O pudim tem suas origens na Europa medieval, onde começou como um prato salgado. Com o tempo, a versão doce evoluiu, influenciada pelo flan romano. No Brasil, o pudim de leite condensado se popularizou no século XIX com a chegada do leite condensado, tornando-se uma das sobremesas favoritas do país. Sua textura cremosa e preparo simples conquistaram o paladar de gerações, consolidando-o como um clássico nas mesas brasileiras.
            </p>
            </div>
        </div>

    </div>
    
    <div class="VMR">
    <button type = "button">Veja mais Receitas</button>
    </div>

</body>
</html>